{% extends "layout.html" %}

{% block content %}
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <center><h2>Cosas que deberias de saber del origen de tu perro:</h2></center>
                        <div class="clearfix">
                            <img src="../static/imagenes/perrito1.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                          
                            <p>
                                El perro es un animal fascinante, y desde hace más de 40 mil años que fue domesticado, (aunque hay expertos que datan la domesticación de este animal hace más de 100 mil años), desde ese momento el Canis lupus familiaris, más conocido como perro, no ha dejado de sorprendernos gracias a su innegable lealtad, gran valentía, pero, sobre todo, por su enorme habilidad para amarnos como especie humana; todo eso, además de muchas otras cosas más, hicieron de esta relación simbiótica humano-canina, la relación perfecta, y desde que comenzó la domesticación de este animal, hemos establecido fuertes lazos y un vínculo emocional inquebrantable que ha sobrevivido al paso miles de años, en una relación muy especial que evolucionó de ser meramente funcional, para convertirse en una bella amistad en la cual, los perros son nuestros cómplices.  
                            </p>
                          
                            <p>
                                El perro es un mamífero doméstico que pertenece al grupo de los carnívoros. Es una subespecie del lobo gris, a quien se lo considera como su antepasado, y tiene semejanzas con los zorros y los chacales.Desempeñó un rol muy importante en la historia de la civilización humana debido a que fue uno de los primeros animales en ser domesticado. Lleva más de 20.000 años acompañando al ser humano y se estima que existen unas 400 razas distintas de perros en todo el mundo.
                            </p>
                            <p>
                                Puede expresar sus estados de ánimo y comunicarse a través de gestos, ladridos, gruñidos, de su postura corporal y de los movimientos de la cola. Suele tener una mirada expresiva y es capaz de establecer vínculos muy afectuosos y fieles con los humanos.
                            </p>
                            <p>
                                El perro, ​​​ llamado perro doméstico o can, ​ y en algunos lugares coloquialmente llamado chucho, ​ tuso, ​ choco, ​ entre otros; es un mamífero carnívoro de la familia de los cánidos, que constituye una especie del género Canis.
                            </p>
                          
                          </div>
                </section>
                <aside>
                    <div id="aside">
                        <center><h4>¿Quieres adoptarun perrito?</h4></center>
                        
                        Si eres una persona responsable en busqueda de un compañero de vida te traemos una opcion para que la busqueda de este sea mas facil, en esta paguina encontraras muchas opciones para rescatar y darle una mejor vida a un perrito; si tienes los recursos necesarios para darle una buena vida a un perrito porque no solo depende de recursos economicos, sino tambien de tiempo y cariño que le puedas dedicar a este hermosos ser, te dejamos la pagina para que encuentres a tu mejor amig@ aqui. <a href="https://adoptaunamascota.com.mx/aguascalientes-r123"> ADOPTA  UN PERRITO</a>
                    
       <img src="../static/imagenes/perrito3.jpg" width="280px" height="300px">
</div>  
                </aside>
               
                
</html>

 {% endblock %}