
            {% extends "layout.html" %}

            {% block content %}

       <section class="main">
                <section class="articles">
                    <article>
                        <CENTER><h2>Datos curiosos de tu compañero</h2></CENTER>
                        <ul>
                          <li>Los perros machos suelen dejar rastros de orina cuando pasean por lugares ajenos a su hogar, para reconocer el camino a la vuelta. También lo hacen para delimitar su territorio ante otros perros.</li>
                          <li>El sentido más desarrollado que tienen los perros es el olfato, que resulta un millón de veces más sensible que el de los humanos. Pueden detectar olores apenas perceptibles o distinguir entre aromas muy similares. A través del olfato interpretan el mundo que los rodea, por ejemplo, obtienen mayor información de la comida a través del olfato antes que por el gusto.</li>
                          <li>Tienen un espectro auditivo muy desarrollado y pueden detectar frecuencias hasta 60.000 hz en comparación con el humano, que puede detectar frecuencias hasta los 20.000 hz. Por eso, sienten mucho más intensos los sonidos en comparación al ser humano, como los ruidos de un motor o de los fuegos artificiales.</li>
                          <li>Su gran capacidad auditiva permite que sean guardianes y buenos cazadores ya que pueden alertarse a tiempo gracias a su capacidad de captar sonidos muy leves o que provienen de distancias alejadas. Además, su retina percibe mejor el movimiento y la luz en comparación a las personas, aunque no distinguen una gran amplitud cromática.</li>
                          <li>La piel de los perros está compuesta por varias capas. La externa contiene el pelaje y la interna, que es más fina y más sensible que la piel humana, los protege y los ayuda a regular la temperatura de su cuerpo, tanto para el frío como para el calor. Cuando se sienten amenazados o quieren impresionar suelen erizar su pelaje para aparentar una contextura más grande o robusta.</li>
                        </ul>              
        </section>
        <aside>
          <center><h3>Registrate con nosotros!!</h3></center>
          <p>En esta pagina contamos con un sistema para que tu y tu compañero de vida se puedan registrar y poder contactarte con otros dueños para encontrar un amigo perruno para el tuyo.</p>
          <img src="../static/imagenes/perritos4.jpg" width="295px" height="270px">
        </aside>   
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="../static/imagenes/perritocarrusel.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../static/imagenes/perritocarrusel2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../static/imagenes/perritocarrusel3.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    

        
        </body>
 
</html>

 {% endblock %}