{% extends "layout.html" %}

{% block content %}
        
<form action="/agr_comenta" method="post">
   <div class="container">
          <div class="form-row">
      </div>
    
      <div class="col-md-6">
          <label for="nomb" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nomb" id="nomb" required></input>
      </div>
      <div class="col-md-4">
          <label for="raza" class="form-label">Raza</label>
          <input type="text" class="form-control" name="raza" id="raza"
      required></input>
      </div>
      <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo</label>
        <input type="text" class="form-control" name="sexo" id="sexo"
    required></input>
    </div>
      
        <div class="mb-8">
            <label for="tam" class="form-label">Tamaño de raza</label>
            <input type="text" class="form-control" name="tam" id="tam">
      </div>
      <div class="col-md-5">
            <label for="vac" class="form-label">Vacunas</label>
            <input type="text" class="form-control" name="vac" id="vac" 
    required></input>
    </div>
      <div class="col-md-7">
          <label for="ed" class="form-label">Edad</label>
          <input type="text" class="form-control" name="ed" id="ed"
    required></input>
    </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}